[Unit]
Description=Awtarchy PolicyKit Authentication Agent
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/local/libexec/awtarchy/polkit-agent/launcher
Restart=on-failure
RestartPreventExitStatus=78
RestartSec=2s
TimeoutStopSec=5s
