# github.com/dillacorn/awtarchy/tree/main/local/share/applications
# ~/.local/share/applications/awtwall.desktop

[Desktop Entry]
Type=Application
Name=Wallpaper Picker
GenericName=Awtwall Wallpaper Picker
Comment=Browse and apply wallpapers
Keywords=wallpaper;picker;awtwall;background;
Icon=utilities-terminal
Terminal=false
Exec=/bin/sh -c "exec ~/.config/hypr/scripts/awtwall_launcher.sh"
Categories=Utility;Settings;
StartupNotify=false
